---
layout: home
title: Fantasy GBBO
cover-img: "/assets/images/chocolate_cake.png"
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    Welcome to the Fantasy Great British Bakeoff Page!
    <br/>
    <i>(And again, we are rolling with this pedestrain site - Editor's Note)</i>
    <br/>
    Submit your team for Episode 9 <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuKQgCeiwXAYORQNdAkUQbgDddwbr3NagVcI2NA1dc7LIN1A/viewform?usp=sharing">using the form here</a>. Good luck, bakers!
    <h2>Aprons and Spatulas - Finals!</h2>
    This one is for the gold pancake chain. 
    <br/>
    <h5>Drop the Biscuit v. First Person Baker Mode</h5>
    <br/>
    <h2>Aprons and Spatulas - Bronze!</h2>
    This one is for the last spot on the podium. 
    <br/>
    <h5>Muffin Top v. Steven Hamburger Ph.D</h5>
    <h2>The Soggy Bottom Bracket - meh</h2>
    This one is to...avoid bottom three?
    <h5>Panos Breados v. Tiers of Joy</h5>
    <h2>The Soggy Bottom Bracket - Finals!</h2>
    And this one is to avoid last place.
    <h5>Pie, Cladius v. On a buttered roll</h5>
    
    <h2>Sponges and Biscuits</h2>
    Drop the Biscuit has a chance to claim both crowns with winning this division still within reach. Will Panos Breados hold them off? We shall see!

    <table style="width: 100%;">
      {% for row in site.data.series_15_agg_total_points %}
          {% if forloop.first %}
          <tr>
            {% for pair in row %}
              <th>{{ pair[0] }}</th>
            {% endfor %}
          </tr>
          {% endif %}
      
          {% tablerow pair in row %}
            {{ pair[1] }}
          {% endtablerow %}
      {% endfor %}
    </table>
      </body>
</html>
