<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>Cookie monster</td><td>Josh (1.5)</td><td>Saku (3.0)</td><td>Dan (1.5)</td><td>6.0</td></tr>
<tr><td>Stupid Sexy Sandro</td><td>Tasha (0.0)</td><td>Saku (3.0)</td><td>Dan (1.5)</td><td>4.5</td></tr>
<tr><td>The Noel Jumpers</td><td>Tasha (0.0)</td><td>Saku (3.0)</td><td>Josh (0.5)</td><td>3.5</td></tr>
<tr><td>Mary Berry's Sweet Plum Tarts</td><td>Tasha (0.0)</td><td>Saku (3.0)</td><td>Josh (0.5)</td><td>3.5</td></tr>
<tr><td>Petit Choux</td><td>Tasha (0.0)</td><td>Saku (3.0)</td><td>Cristy (0.5)</td><td>3.5</td></tr>
<tr><td>Drop the Biscuit</td><td>Josh (1.5)</td><td>Matty (0.5)</td><td>Cristy (0.5)</td><td>2.5</td></tr>
<tr><td>Monster cookies </td><td>Tasha (0.0)</td><td>Matty (0.5)</td><td>Cristy (0.5)</td><td>1.0</td></tr>
<tr><td>Crepe Expectations </td><td>Saku (-1.0)</td><td>Matty (0.5)</td><td>Cristy (0.5)</td><td>0.0</td></tr>
</table>