<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Stupid Sexy Sandro</td><td>4.5</td><td>18.0</td></tr>
<tr><td>Mary Berry's Sweet Plum Tarts</td><td>3.5</td><td>16.5</td></tr>
<tr><td>Cookie monster</td><td>6.0</td><td>15.0</td></tr>
<tr><td>The Noel Jumpers</td><td>3.5</td><td>13.5</td></tr>
<tr><td>Monster cookies </td><td>1.0</td><td>12.0</td></tr>
<tr><td>Drop the Biscuit</td><td>2.5</td><td>10.5</td></tr>
<tr><td>Petit Choux</td><td>3.5</td><td>9.0</td></tr>
<tr><td>Crepe Expectations </td><td>0.0</td><td>0.0</td></tr>
</table>