<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>Andrew Pan-os</td><td>Abdul (4.5)</td><td>Janusz (3.5)</td><td>Abdul (1.5)</td><td>9.5</td></tr>
<tr><td>Victoria 🧽 🛀 </td><td>Syabira (1.5)</td><td>Janusz (3.5)</td><td>Sandro (0.0)</td><td>5.0</td></tr>
<tr><td>Dream puffs</td><td>Sandro (1.0)</td><td>Abdul (-0.5)</td><td>Syabira (2.5)</td><td>3.0</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>Syabira (1.5)</td><td>Abdul (-0.5)</td><td>Janusz (0.5)</td><td>1.5</td></tr>
<tr><td>Steven Hamburger PhD </td><td>Janusz (-0.5)</td><td>Abdul (-0.5)</td><td>Syabira (2.5)</td><td>1.5</td></tr>
<tr><td>Baci and the pussycat </td><td>Janusz (-0.5)</td><td>Abdul (-0.5)</td><td>Sandro (0.0)</td><td>-1.0</td></tr>
</table>