<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Dream puffs</td><td>3.0</td><td>36.0</td></tr>
<tr><td>Steven Hamburger PhD </td><td>1.5</td><td>35.0</td></tr>
<tr><td>Victoria 🧽 🛀 </td><td>5.0</td><td>34.0</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>1.5</td><td>31.0</td></tr>
<tr><td>Baci and the pussycat </td><td>-1.0</td><td>28.0</td></tr>
<tr><td>Andrew Pan-os</td><td>9.5</td><td>22.0</td></tr>
</table>