<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>5.5</td><td>5.5</td></tr>
<tr><td>Steven Hamburger, PhD </td><td>4.0</td><td>4.0</td></tr>
<tr><td>Baci and Pussycat</td><td>3.5</td><td>3.5</td></tr>
<tr><td>Dream puffs</td><td>3.5</td><td>3.5</td></tr>
<tr><td>Andrew Pan-os</td><td>2.5</td><td>2.5</td></tr>
<tr><td>Victoria Sponge Bath</td><td>1.0</td><td>1.0</td></tr>
</table>