<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>Stupid Sexy Sandro</td><td>Josh (1.0)</td><td>Cristy (4.5)</td><td>Tasha (2.5)</td><td>8.0</td></tr>
<tr><td>Mary Berry's Sweet Plum Tarts</td><td>Dan (0.0)</td><td>Cristy (4.5)</td><td>Tasha (2.5)</td><td>7.0</td></tr>
<tr><td>Petit Choux</td><td>Tasha (0.5)</td><td>Cristy (4.5)</td><td>Josh (0.0)</td><td>5.0</td></tr>
<tr><td>Crepe Expectations</td><td>Dan (0.0)</td><td>Cristy (4.5)</td><td>Josh (0.0)</td><td>4.5</td></tr>
<tr><td>Drop the Biscuit</td><td>Josh (1.0)</td><td>Cristy (4.5)</td><td>Dan (-1.0)</td><td>4.5</td></tr>
<tr><td>Cookie Monster </td><td>Josh (1.0)</td><td>Matty (0.0)</td><td>Cristy (2.5)</td><td>3.5</td></tr>
<tr><td>The Noel Jumpers </td><td>Tasha (0.5)</td><td>Matty (0.0)</td><td>Josh (0.0)</td><td>0.5</td></tr>
<tr><td>Monster cookies</td><td>Josh (1.0)</td><td>Matty (0.0)</td><td>Dan (-1.0)</td><td>0.0</td></tr>
</table>