<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Dream puffs </td><td>7.5</td><td>19.0</td></tr>
<tr><td>Steven Hamburger PhD </td><td>4.5</td><td>16.5</td></tr>
<tr><td>Baci and the pussycat </td><td>4.5</td><td>16.0</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>4.5</td><td>15.5</td></tr>
<tr><td>Victoria sponge bath </td><td>6.5</td><td>11.5</td></tr>
<tr><td>Pan-os</td><td>3.0</td><td>7.5</td></tr>
</table>