<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>The Noel Jumpers</td><td>Josh (4.5)</td><td>Saku (1.0)</td><td>Matty (1.0)</td><td>6.5</td></tr>
<tr><td>Stupid Sexy Sandro</td><td>Josh (4.5)</td><td>Saku (1.0)</td><td>Dan (0.5)</td><td>6.0</td></tr>
<tr><td>Mary Berry's Sweet Plum Tarts</td><td>Tasha (1.0)</td><td>Dana (3.5)</td><td>Matty (1.0)</td><td>5.5</td></tr>
<tr><td>Drop the Biscuit </td><td>Josh (4.5)</td><td>Dan (0.5)</td><td>Tasha (-1.0)</td><td>4.0</td></tr>
<tr><td>Cookie Monster </td><td>Dan (0.5)</td><td>Saku (1.0)</td><td>Josh (1.5)</td><td>3.0</td></tr>
<tr><td>Petit Choux </td><td>Dan (0.5)</td><td>Saku (1.0)</td><td>Matty (1.0)</td><td>2.5</td></tr>
<tr><td>Monster cookies </td><td>Saku (0.0)</td><td>Dana (3.5)</td><td>Tasha (-1.0)</td><td>2.5</td></tr>
<tr><td>Crepe expectations </td><td>Dan (0.5)</td><td>Saku (1.0)</td><td>Matty (1.0)</td><td>2.5</td></tr>
</table>