<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>Victoria sponge 🧽 bath 🛀 </td><td>Syabira (4.0)</td><td>Abdul (0.5)</td><td>Sandro (3.5)</td><td>8.0</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>Janusz (0.5)</td><td>Abdul (0.5)</td><td>Sandro (3.5)</td><td>4.5</td></tr>
<tr><td>Steven Hamburger PhD </td><td>Sandro (1.5)</td><td>Abdul (0.5)</td><td>Janusz (1.5)</td><td>3.5</td></tr>
<tr><td>Baci and Pussycat</td><td>Maxy (-0.5)</td><td>Abdul (0.5)</td><td>Janusz (1.5)</td><td>1.5</td></tr>
<tr><td>Dream puffs </td><td>Sandro (1.5)</td><td>Abdul (0.5)</td><td>Maxy (-0.5)</td><td>1.5</td></tr>
<tr><td>Andrew Pan-os</td><td>Maxy (-0.5)</td><td>Janusz (0.5)</td><td>Maxy (-0.5)</td><td>-0.5</td></tr>
</table>