<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>Andrew Pan-os</td><td>Sandro (1.5)</td><td>Kevin (3.5)</td><td>Sandro (2.5)</td><td>7.5</td></tr>
<tr><td>Dream puffs </td><td>Janusz (1.0)</td><td>Kevin (3.5)</td><td>Sandro (2.5)</td><td>7.0</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>Janusz (1.0)</td><td>Kevin (3.5)</td><td>Sandro (2.5)</td><td>7.0</td></tr>
<tr><td>Victoria 🧽 🛁 </td><td>Sandro (1.5)</td><td>Kevin (3.5)</td><td>Janusz (1.0)</td><td>6.0</td></tr>
<tr><td>Baci and the Pussycat</td><td>Maxy (0.5)</td><td>Kevin (3.5)</td><td>Janusz (1.0)</td><td>5.0</td></tr>
<tr><td>Steven Hamburger, PhD </td><td>Sandro (1.5)</td><td>Kevin (3.5)</td><td>Abdul (0.0)</td><td>5.0</td></tr>
</table>