<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Mary Berry's Sweet Plum Tarts</td><td>1.5</td><td>3.5</td></tr>
<tr><td>The Noel Jumpers</td><td>0.5</td><td>3.0</td></tr>
<tr><td>Stupid Sexy Sandro</td><td>0.5</td><td>2.5</td></tr>
<tr><td>Monster cookies </td><td>0.5</td><td>2.5</td></tr>
<tr><td>Cookie Monster </td><td>0.5</td><td>1.0</td></tr>
<tr><td>Crepe Expectations</td><td>0.0</td><td>1.0</td></tr>
<tr><td>Petit Choux</td><td>-0.5</td><td>-0.5</td></tr>
<tr><td>Drop the Biscuit</td><td>-0.5</td><td>-1.0</td></tr>
</table>