<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>Mary Berry's Sweet Plum Tarts</td><td>Saku (0.5)</td><td>Dana (0.5)</td><td>Tasha (1.0)</td><td>2.0</td></tr>
<tr><td>The Noel Jumpers </td><td>Josh (1.0)</td><td>Dana (0.5)</td><td>Abbi (0.0)</td><td>1.5</td></tr>
<tr><td>Stupid Sexy Sandro</td><td>Josh (1.0)</td><td>Nicky (0.0)</td><td>Dan (-0.5)</td><td>0.5</td></tr>
<tr><td>Crepe Expectations</td><td>Rowan (0.0)</td><td>Dana (0.5)</td><td>Josh (0.0)</td><td>0.5</td></tr>
<tr><td>Drop the Biscuit </td><td>Josh (1.0)</td><td>Tasha (-1.0)</td><td>Dan (-0.5)</td><td>-0.5</td></tr>
<tr><td>Monster cookies</td><td>Abbi (-1.0)</td><td>Dana (0.5)</td><td>Rowan (0.0)</td><td>-0.5</td></tr>
<tr><td>Petit Choux </td><td>Abbi (-1.0)</td><td>Dana (0.5)</td><td>Josh (0.0)</td><td>-0.5</td></tr>
<tr><td>Cookie Monster </td><td>Abbi (-1.0)</td><td>Nicky (0.0)</td><td>Cristy (0.0)</td><td>-1.0</td></tr>
</table>