<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>Janusz (4.0)</td><td>Carol (1.0)</td><td>Sandro (0.5)</td><td>5.5</td></tr>
<tr><td>Steven Hamburger, PhD </td><td>Syabira (2.0)</td><td>Rebs (0.0)</td><td>Janusz (2.0)</td><td>4.0</td></tr>
<tr><td>Baci and Pussycat</td><td>Sandro (1.5)</td><td>Carol (1.0)</td><td>Syabira (1.0)</td><td>3.5</td></tr>
<tr><td>Dream puffs</td><td>Syabira (2.0)</td><td>Carol (1.0)</td><td>Sandro (0.5)</td><td>3.5</td></tr>
<tr><td>Andrew Pan-os</td><td>Kevin (0.5)</td><td>Carol (1.0)</td><td>Syabira (1.0)</td><td>2.5</td></tr>
<tr><td>Victoria Sponge Bath</td><td>James (0.5)</td><td>Rebs (0.0)</td><td>Sandro (0.5)</td><td>1.0</td></tr>
</table>