<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Steven Hamburger PhD </td><td>3.5</td><td>33.5</td></tr>
<tr><td>Dream puffs </td><td>1.5</td><td>33.0</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>4.5</td><td>29.5</td></tr>
<tr><td>Baci and Pussycat</td><td>1.5</td><td>29.0</td></tr>
<tr><td>Victoria sponge 🧽 bath 🛀 </td><td>8.0</td><td>29.0</td></tr>
<tr><td>Andrew Pan-os</td><td>-0.5</td><td>12.5</td></tr>
</table>