<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Stupid Sexy Sandro</td><td>6.0</td><td>13.5</td></tr>
<tr><td>Mary Berry's Sweet Plum Tarts</td><td>5.5</td><td>13.0</td></tr>
<tr><td>Monster cookies </td><td>2.5</td><td>11.0</td></tr>
<tr><td>The Noel Jumpers</td><td>6.5</td><td>10.0</td></tr>
<tr><td>Cookie Monster </td><td>3.0</td><td>9.0</td></tr>
<tr><td>Drop the Biscuit </td><td>4.0</td><td>8.0</td></tr>
<tr><td>Crepe expectations </td><td>2.5</td><td>6.0</td></tr>
<tr><td>Petit Choux </td><td>2.5</td><td>5.5</td></tr>
</table>