<table style="width:100%">
<tr><th>Baker</th><th>Star Baker Score</th><th>Leaver of Tents Score</th><th>Technical Score</th></tr>
<tr><td>Dan</td><td>2.0</td><td>1.0</td><td>1.0</td></tr>
<tr><td>Josh</td><td>4.5</td><td>-0.5</td><td>2.5</td></tr>
<tr><td>Matty</td><td>0.0</td><td>1.0</td><td>1.0</td></tr>
<tr><td>Tasha</td><td>-1.0</td><td>3.0</td><td>-1.0</td></tr>
</table>