<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>Steven Hamburger PhD </td><td>Syabira (4.0)</td><td>Dawn (4.0)</td><td>Maxy (0.5)</td><td>8.5</td></tr>
<tr><td>Baci and the pussycat</td><td>Maxy (0.5)</td><td>Dawn (4.0)</td><td>Janusz (2.0)</td><td>6.5</td></tr>
<tr><td>Dream puffs </td><td>Janusz (1.0)</td><td>Dawn (4.0)</td><td>Maxy (0.5)</td><td>5.5</td></tr>
<tr><td>Victoria sponge bath </td><td>Sandro (0.5)</td><td>Dawn (4.0)</td><td>Abdul (-1.0)</td><td>3.5</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>Janusz (1.0)</td><td>Kevin (1.0)</td><td>Maxy (0.5)</td><td>2.5</td></tr>
<tr><td>Andrew Pan-os</td><td>Abdul (0.0)</td><td>Syabira (-1.0)</td><td>Abdul (-1.0)</td><td>-2.0</td></tr>
</table>