<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Stupid Sexy Sandro</td><td>8.0</td><td>26.0</td></tr>
<tr><td>Mary Berry's Sweet Plum Tarts</td><td>7.0</td><td>23.5</td></tr>
<tr><td>Cookie Monster </td><td>3.5</td><td>18.5</td></tr>
<tr><td>Drop the Biscuit</td><td>4.5</td><td>15.0</td></tr>
<tr><td>The Noel Jumpers </td><td>0.5</td><td>14.0</td></tr>
<tr><td>Petit Choux</td><td>5.0</td><td>14.0</td></tr>
<tr><td>Monster cookies</td><td>0.0</td><td>12.0</td></tr>
<tr><td>Crepe Expectations</td><td>4.5</td><td>10.5</td></tr>
</table>