<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Dream puffs </td><td>7.0</td><td>31.5</td></tr>
<tr><td>Steven Hamburger, PhD </td><td>5.0</td><td>30.0</td></tr>
<tr><td>Baci and the Pussycat</td><td>5.0</td><td>27.5</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>7.0</td><td>25.0</td></tr>
<tr><td>Victoria 🧽 🛁 </td><td>6.0</td><td>21.0</td></tr>
<tr><td>Andrew Pan-os</td><td>7.5</td><td>13.0</td></tr>
</table>