<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Steven Hamburger PhD </td><td>8.5</td><td>25.0</td></tr>
<tr><td>Dream puffs </td><td>5.5</td><td>24.5</td></tr>
<tr><td>Baci and the pussycat</td><td>6.5</td><td>22.5</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>2.5</td><td>18.0</td></tr>
<tr><td>Victoria sponge bath </td><td>3.5</td><td>15.0</td></tr>
<tr><td>Andrew Pan-os</td><td>-2.0</td><td>5.5</td></tr>
</table>