<table style="width:100%">
<tr><th>Baker</th><th>Star Baker Score</th><th>Leaver of Tents Score</th><th>Technical Score</th></tr>
<tr><td>Abdul</td><td>0.0</td><td>0.0</td><td>0.0</td></tr>
<tr><td>Carol</td><td>0.0</td><td>1.0</td><td>-1.0</td></tr>
<tr><td>Dawn</td><td>0.5</td><td>0.5</td><td>0.5</td></tr>
<tr><td>James</td><td>-1.0</td><td>3.0</td><td>0.0</td></tr>
<tr><td>Janusz</td><td>1.5</td><td>0.5</td><td>0.5</td></tr>
<tr><td>Kevin</td><td>0.5</td><td>0.5</td><td>0.5</td></tr>
<tr><td>Maxy</td><td>4.0</td><td>-1.0</td><td>2.0</td></tr>
<tr><td>Rebs</td><td>-0.5</td><td>3.5</td><td>0.5</td></tr>
<tr><td>Sandro</td><td>1.5</td><td>0.5</td><td>0.5</td></tr>
<tr><td>Syabira</td><td>0.5</td><td>0.5</td><td>1.5</td></tr>
</table>