<table style="width:100%">
<tr><th>Team</th><th>Star Baker</th><th>Leaver of Tents</th><th>Technical</th><th>Total</th></tr>
<tr><td>Dream puffs </td><td>Sandro (4.0)</td><td>Carol (3.5)</td><td>Kevin (0.0)</td><td>7.5</td></tr>
<tr><td>Victoria sponge bath </td><td>Maxy (1.0)</td><td>Carol (3.5)</td><td>Janusz (2.0)</td><td>6.5</td></tr>
<tr><td>Baci and the pussycat </td><td>Janusz (1.0)</td><td>Carol (3.5)</td><td>Maxy (0.0)</td><td>4.5</td></tr>
<tr><td>Pencil Wearing Sheriffs</td><td>Janusz (1.0)</td><td>Carol (3.5)</td><td>Maxy (0.0)</td><td>4.5</td></tr>
<tr><td>Steven Hamburger PhD </td><td>Syabira (1.0)</td><td>Carol (3.5)</td><td>Sandro (0.0)</td><td>4.5</td></tr>
<tr><td>Pan-os</td><td>Dawn (0.5)</td><td>Syabira (2.0)</td><td>Dawn (0.5)</td><td>3.0</td></tr>
</table>