<table style="width:100%">
<tr><th>Team</th><th>Points this Episode</th><th>Total Points</th></tr>
<tr><td>Stupid Sexy Sandro</td><td>8.5</td><td>34.5</td></tr>
<tr><td>Mary Berry's Sweet Plum Tarts</td><td>2.5</td><td>26.0</td></tr>
<tr><td>Cookie monster</td><td>4.5</td><td>23.0</td></tr>
<tr><td>Drop the Biscuit</td><td>6.5</td><td>21.5</td></tr>
<tr><td>Petit Choux</td><td>5.5</td><td>19.5</td></tr>
<tr><td>The Noel Jumpers</td><td>4.5</td><td>18.5</td></tr>
<tr><td>Monster cookies </td><td>2.5</td><td>14.5</td></tr>
<tr><td>Crepe Expectations </td><td>-0.5</td><td>10.0</td></tr>
</table>