<table style="width:100%">
    <tr>
      <th>Team</th>
      <th>Points</th>
      <th>Points Back</th>
      <th>Change</th>
    </tr>
    <tr>
      <td>Dream Puffs</td>
      <td>19</td>
      <td>-</td>
      <td>+1</td>
    </tr>
    <tr>
      <td>Steven Hamburger, PhD</td>
      <td>16.5</td>
      <td>2.5</td>
      <td>-1</td>
    </tr>
    <tr>
      <td>Baci and the Pussycat</td>
      <td>16</td>
      <td>3</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Pencil Wearing Sheriffs</td>
      <td>15.5</td>
      <td>3.5</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Victoria Sponge Bath</td>
      <td>11.5</td>
      <td>7.5</td>
      <td>+1</td>
    </tr>
    <tr>
      <td>Andrew Pan-os</td>
      <td>9</td>
      <td>10</td>
      <td>-1</td>
    </tr>
</table>