<table style="width:100%">
    <tr>
      <th>Team</th>
      <th>Wins</th>
      <th>Draws</th>
      <th>Losses</th>
      <th>Points</th>
    </tr>


    <tr>
      <td>Pencil Wearing Sheriffs</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
    </tr>

    <tr>
      <td>Dream Puffs</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>9</td>
    </tr>

    <tr>
      <td>Steven Hamburger, PhD</td>
      <td>3</td>
      <td>0</td>
      <td>2</td>
      <td>9</td>
    </tr>

    <tr>
      <td>Baci and Pussycat</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>7</td>
    </tr>


    <tr>
      <td>Andrew Pan-os</td>
      <td>2</td>
      <td>0</td>
      <td>3</td>
      <td>6</td>
    </tr>

    <tr>
      <td>Victoria Sponge Bath</td>
      <td>1</td>
      <td>0</td>
      <td>4</td>
      <td>3</td>
    </tr>
</table>