<style>
    .team_1_result {
        width: 40%;
        text-align: end;
    }
    .team_result_score {
        width: 10%;
    }
    .team_2_result {
        width: 40%;
    }
</style>
<table style="width:100%">
    <tr><td colspan="2">Episode 2 Results</td></tr>
    <tr><td class="team_1_result">Petit Choux</td><td class="team_result_score">0.5</td><td class="team_result_score">0.5</td><td class="team_2_result">Crepe Expectations</td></tr>
    <tr><td class="team_1_result">Monster cookies</td><td class="team_result_score">2.5</td><td class="team_result_score">1.0</td><td class="team_2_result">The Noel Jumpers</td></tr>
    <tr><td class="team_1_result">Stupid Sexy Sandro</td><td class="team_result_score">1.5</td><td class="team_result_score">0.0</td><td class="team_2_result">Drop the Biscuit</td></tr>
    <tr><td class="team_1_result">Mary Berry's Sweet Plum Tarts</td><td class="team_result_score">0.0</td><td class="team_result_score">1.5</td><td class="team_2_result">Cookie Monster</td></tr>
    
    <tr><td colspan="2">Episode 3 Results</td></tr>
    <tr><td class="team_1_result">Mary Berry's Sweet Plum Tarts</td><td class="team_result_score">2.0</td><td class="team_result_score">0.5</td><td class="team_2_result">Stupid Sexy Sandro</td></tr>
    <tr><td class="team_1_result">Cookie Monster</td><td class="team_result_score">-1.0</td><td class="team_result_score">0.5</td><td class="team_2_result">Crepe Expectations</td></tr>
    <tr><td class="team_1_result">The Noel Jumpers</td><td class="team_result_score">1.5</td><td class="team_result_score">-0.5</td><td class="team_2_result">Petit Choux</td></tr>
    <tr><td class="team_1_result">Drop the Biscuit</td><td class="team_result_score">-0.5</td><td class="team_result_score">-0.5</td><td class="team_2_result">Monster cookies</td></tr>

    <tr><td colspan="2">Episode 4 Results</td></tr>
    <tr><td class="team_1_result">Monster cookies</td><td class="team_result_score">0.5</td><td class="team_result_score">1.5</td><td class="team_2_result">Stupid Sexy Sandro</td></tr>
    <tr><td class="team_1_result">Petit Choux</td><td class="team_result_score">-0.5</td><td class="team_result_score">0.5</td><td class="team_2_result">Cookie Monster</td></tr>
    <tr><td class="team_1_result">Stupid Sexy Sandro</td><td class="team_result_score">0.5</td><td class="team_result_score">0.0</td><td class="team_2_result">Crepe Expectations</td></tr>
    <tr><td class="team_1_result">The Noel Jumpers</td><td class="team_result_score">0.5</td><td class="team_result_score">-0.5</td><td class="team_2_result">Drop the Biscuit</td></tr>

    <tr><td colspan="2">Episode 5 Results</td></tr>
    <tr><td class="team_1_result">Cookie Monster</td><td class="team_result_score">5.0</td><td class="team_result_score">5.0</td><td class="team_2_result">Stupid Sexy Sandro</td></tr>
    <tr><td class="team_1_result">Drop the Biscuit</td><td class="team_result_score">5.0</td><td class="team_result_score">3.5</td><td class="team_2_result">Petit Choux</td></tr>
    <tr><td class="team_1_result">Crepe Expectations</td><td class="team_result_score">2.5</td><td class="team_result_score">6.0</td><td class="team_2_result">Monster cookies</td></tr>
    <tr><td class="team_1_result">Mary Berry's Sweet Plum Tarts</td><td class="team_result_score">4.0</td><td class="team_result_score">0.5</td><td class="team_2_result">The Noel Jumpers</td></tr>

    <tr><td colspan="2">Episode 6 Results</td></tr>
    <tr><td class="team_1_result">Stupid Sexy Sandro</td><td class="team_result_score">6.0</td><td class="team_result_score">2.5</td><td class="team_2_result">Petit Choux</td></tr>
    <tr><td class="team_1_result">Monster cookies</td><td class="team_result_score">2.5</td><td class="team_result_score">3.0</td><td class="team_2_result">Cookie Monster</td></tr>
    <tr><td class="team_1_result">Drop the Biscuit</td><td class="team_result_score">4.0</td><td class="team_result_score">5.5</td><td class="team_2_result">Mary Berry's Sweet Plum Tarts</td></tr>
    <tr><td class="team_1_result">The Noel Jumpers</td><td class="team_result_score">6.5</td><td class="team_result_score">2.5</td><td class="team_2_result">Crepe Expectations</td></tr>

    <tr><td colspan="2">Episode 7 Results</td></tr>
    <tr><td class="team_1_result">Cookie Monster</td><td class="team_result_score">6.0</td><td class="team_result_score">3.5</td><td class="team_2_result">The Noel Jumpers</td></tr>
    <tr><td class="team_1_result">Crepe Expectations</td><td class="team_result_score">0</td><td class="team_result_score">2.5</td><td class="team_2_result">Drop the Biscuit</td></tr>
    <tr><td class="team_1_result">Stupid Sexy Sandro</td><td class="team_result_score">4.5</td><td class="team_result_score">1.0</td><td class="team_2_result">Monster cookies</td></tr>
    <tr><td class="team_1_result">Petit Choux</td><td class="team_result_score">3.5</td><td class="team_result_score">3.5</td><td class="team_2_result">Mary Berry's Sweet Plum Tarts</td></tr>
</table>