<table style="width:100%">
    <tr>
      <th>Team</th>
      <th>Wins</th>
      <th>Draws</th>
      <th>Losses</th>
      <th>Points</th>
    </tr>

    <tr>
      <td>Stupid Sexy Sandro</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
    </tr>

    <tr>
      <td>Mary Berry's Sweet Plum Tarts</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
    </tr>

    <tr>
      <td>Cookie Monster</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
    </tr>

    <tr>
      <td>The Noel Jumpers</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>9</td>
    </tr>

    <tr>
      <td>Monster cookies</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>

    <tr>
      <td>Drop The Biscuit</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Crepe Expectations</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>

    <tr>
      <td>Petit Choux</td>
      <td>0</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
</table>